body {
  background-image: linear-gradient(to right, purple, rgb(139, 0, 0));
}
#msg {
  text-align: center;
  font-size: 30px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: white;
  position: relative;
  top: 40vh;
}

#msg.visivel {
  opacity: 1;
}

#input {
  width: 23vw;
  height: 13vh;
  top: 30vh;
  position: relative;
  resize: none;
  border-radius: 12px;
  outline: none;
}
.displays {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  top: 35vh;
  position: relative;
  width: 30vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#playimg {
  width: 2%;
  height: 3%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#playimg.visivel {
  opacity: 1;
}

#stopimg {
  width: 2%;
  height: 3%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#stopimg.visivel {
  opacity: 1;
}

#pauseimg {
  width: 2%;
  height: 3%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#pauseimg.visivel {
  opacity: 1;
}

.statusimg {
  filter: invert(100%);
  top: 55vh;
  position: relative;
}

.btn {
  width: 90px;
  height: 30px;
  border-radius: 12px;
  border: none;
  outline: none;
  cursor: pointer;
}
