body {
  background-image: linear-gradient(to right, purple, rgb(139, 0, 0));
}
#msg {
  text-align: center;
  font-size: 30px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#msg.visivel {
  opacity: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#playimg {
  width: 3%;
  height: 3%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#playimg.visivel {
  opacity: 1;
}

#stopimg {
  width: 3%;
  height: 3%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#stopimg.visivel {
  opacity: 1;
}
